<plist version="1.0">
    <dict>
    	<!---------------- URL --------------->
		<key>G_URL_PROFILE</key>
		    <string>192.168.0.118:8025/profile</string>

	    <key>G_URL_FRIEND</key>
		    <string>192.168.0.118:8025/friend</string>

	    <key>G_URL_DEVICE</key>
		    <string>192.168.0.118:8025/device</string>

	    <key>G_URL_SCORE</key>
		    <string>192.168.0.118:8025/score</string>



		<!---------------- COMMON --------------->
      	<key>G_DESIGN_WIDTH</key> <!-- Chiều rộng màn hình, ko nên sửa -->
		    <string>800</string>

	    <key>G_DESIGN_HEIGHT</key> <!-- Chiều cao màn hình, ko nên sửa -->
		    <string>1280</string>

	    <key>G_SCALE_FACTOR</key> <!-- Scale màn hình cho vừa với màn hình windows, ko cần sửa lắm -->
		    <string>0.55</string>
	    

		<!----------------  --------------->
   		<key>G_DEFAULT_DIAMON</key> <!-- Mới vào có bao nhiêu kim cương -->
		    <string>30</string>

	    <key>G_DIAMON_PER_LIFE</key> <!-- Số kim cương cần cho 1 mạng hồi sinh -->
		    <string>10</string>

		<key>G_POINTS_PER_SECOND</key> <!-- Số điểm trên 1s -->
		    <string>10</string>

		<key>G_TIME_TO_REFRESH_FRIENDS</key> <!-- Thời gian để refresh friend, đơn vị Giây -->
		    <string>86400</string>

    </dict>
</plist>
