<plist version="1.0">
    <dict>
    	<!---------------- SEND DATA --------------->
		<key>G_URL_PLAYER_FB_PROFILE</key>
		    <string>192.168.0.118:8025/profile</string>

	    <key>G_URL_FRIEND_LIST</key>
		    <string>192.168.0.118:8025/friend</string>

	    <key>G_URL_DEVICE_PROFILE</key>
		    <string>192.168.0.118:8025/device</string>

	    <key>G_URL_SCORE</key>
		    <string>192.168.0.118:8025/score</string>




      	<key>G_DESIGN_WIDTH</key> <!-- Chiều rộng màn hình, ko nên sửa -->
		    <string>800</string>
	    <key>G_DESIGN_HEIGHT</key> <!-- Chiều cao màn hình, ko nên sửa -->
		    <string>1280</string>
	    <key>G_SCALE_FACTOR</key> <!-- Scale màn hình cho vừa với màn hình windows, ko cần sửa lắm -->
		    <string>0.55</string>
	    <key>G_PLAYER_HP</key> <!-- Mặc định HP của Player -->
		    <string>1</string>
	    <key>G_PLAYER_DAMAGE</key> <!-- Mặc định damage của Player = damage của đạn mà player bắn ra. Khi enemy bị trúng thì Hp sẽ bị trừ đúng lượng damage này -->
		    <string>1</string>
	    <key>G_MIN_PLAYER_BULLET_LEVEL</key> <!-- Level đạn thấp nhất, hiện tại là 1 làn đạn -->
		    <string>1</string>
	    <key>G_MAX_PLAYER_BULLET_LEVEL</key> <!-- Level đạn cao nhất, hiện tại là 2 làn đạn, và chưa hỗ trợ cao hơn -->
		    <string>2</string>
	    <key>G_TIMEOUT_BULLET_LEVEL</key> <!-- Thời gian timeout để giảm số làn đạn, đơn vị sencond -->
		    <string>20.0</string>

	    <key>G_ITEM_BULLET_RANDOM_PERCENT</key> <!-- Tỷ lệ random ra item tăng level đạn -->
		    <string>0.07</string>
	    <key>G_ITEM_ARMOR_RANDOM_PERCENT</key> <!-- Tỷ lệ random ra item giáp (chưa đúng) -->
		    <string>0.07</string>
	    <key>G_ITEM_BOOM_RANDOM_PERCENT</key> <!-- Tỷ lệ random ra item boom (chưa đúng) -->
		    <string>0.07</string>


	    <key>G_MAX_PLAYER_LIFE</key> <!-- Số mạng khởi tạo ban đầu của người chơi -->
		    <string>5</string>

	    <key>G_PLAYER_TIME_TO_REVIVE</key> <!-- Thời gian để revive 1 mạng (đơn vị giây)-->
		    <string>600</string>

	    <key>G_MAX_PLAYER_BOOM</key> <!-- Số boom lớn nhất có thể có 1 lúc -->
		    <string>3</string>


	    <key>G_MIN_ENEMY_HP</key> <!-- Hp thấp nhất của Enemy, mặc định lúc mới vào game -->
		    <string>1</string>
	    <key>G_MIN_ENEMY_DAM</key> <!-- Damage thấp nhất của Enemy, mặc định lúc mới vào game -->
		    <string>1</string>



	    <key>G_PLAYER_LAZER_TIME</key> <!-- Thời gian lazer active -->
		    <string>3.0</string>

	    <key>G_PLAYER_ARMOR_TIME</key> <!-- Thời gian để giáp bảo vệ cho player -->
		    <string>10.0</string>
	    <key>G_PLAYER_BULLET_VY</key> <!-- Tốc độ đạn của Player -->
		    <string>3.0</string>


	    <key>G_PLAYER_TIME_TO_FIRE</key> <!-- Thời gian giữa 2 lần bắn đạn của Player -->
		    <string>0.15</string>
	    <key>G_ENEMY_TIME_TO_FIRE</key> <!-- Thời gian giữa 2 lần bắn đạn của Enemy -->
		    <string>0</string>


	    <key>G_DEFAULT_TIME_TO_GENERATE_ENEMY</key> <!-- Thời gian giữa 2 lần sinh ra Enemy -->
		    <string>1.0</string>
		<key>G_TIME_TO_GENERATE_ITEM</key> <!-- Thời gian giữa 2 lần sinh ra Item -->
		    <string>30</string>

	    <key>G_MIN_ENEMY_VY</key> <!-- Vận tốc nhỏ nhất của Enemy (số âm, vì bay ngược chiều lại) -->
		    <string>-0.09</string>
	    <key>G_MAX_ENEMY_VY</key> <!-- Vận tốc lớn nhất của Enemy (số âm, vì bay ngược chiều lại) -->
		    <string>-0.05</string>


	    <key>G_MIN_ENEMY_BULLET_VY</key> <!-- Vận tốc nhỏ nhất của đạn của Enemy -->
		    <string>-0.4</string>
	    <key>G_BULLET_VY_FROM_ENEMY</key> <!-- Tỷ lệ nhân, Vận tốc đạn của Enemy  = G_BULLET_VY_FROM_ENEMY x Vận tốc bay của Enemy -->
		    <string>1.5</string>

		
	    <key>G_DEFAULT_DIFFICULTY</key> <!-- Độ khó mặc định -->
		    <string>1.0</string>


      	<key>G_VELOCITY_IN_DIFFICULTY</key> <!-- Vận tốc Enemy tại thời điểm sinh ra = G_MIN_ENEMY_VY - difficulty / G_VELOCITY_IN_DIFFICULTY; (dấu - vì Enemy bay ngược lại) -->
        	<string>2000</string>
      	<key>G_HP_IN_DIFFICULTY</key> <!-- Hp Enemy tại thời điểm sinh ra = G_MIN_ENEMY_HP + difficulty / G_HP_IN_DIFFICULTY; -->
        	<string>200</string>
      	<key>G_DAMAGE_IN_DIFFICULTY</key> <!-- Damage Enemy tại thời điểm sinh ra = G_MIN_ENEMY_DAM + difficulty/ G_DAMAGE_IN_DIFFICULTY; -->
        	<string>200</string>

		<key>G_ENEMY_1_PERCENT</key> <!-- Phần trăm máy bay 1 -->
		    <string>0.85</string>
	    <key>G_ENEMY_2_PERCENT</key> <!-- Phần trăm máy bay 2-->
		    <string>0.1</string>
	    <key>G_ENEMY_3_PERCENT</key> <!-- Phần trăm máy bay 3 -->
		    <string>0.05</string>

		<key>G_ENEMY_1_SCORE</key> <!-- Điểm cho máy bay 1 -->
		    <string>1000</string>
	    <key>G_ENEMY_2_SCORE</key> <!-- Điểm cho máy bay 2-->
		    <string>6000</string>
	    <key>G_ENEMY_3_SCORE</key> <!-- Điểm cho máy bay 3 -->
		    <string>30000</string>



		<key>G_DEFAULT_BOOM</key> <!-- Điểm cho máy bay 1 -->
		    <string>3</string>
	    <key>G_MAX_BOOM</key> <!-- Điểm cho máy bay 2-->
		    <string>10</string>


   		<key>G_DEFAULT_DIAMON</key> <!-- Mới vào có bao nhiêu kim cương -->
		    <string>30</string>
	    <key>G_DIAMON_PER_LIFE</key> <!-- Số kim cương cần cho 1 mạng hồi sinh -->
		    <string>10</string>

		<key>G_WAIT_TO_REVIVE</key> <!-- Thời gian nút revive hiển thị khi thua -->
		    <string>5</string>

		<key>G_POINTS_PER_SECOND</key> <!-- Số điểm trên 1s -->
		    <string>10</string>

    </dict>
</plist>
