<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,804},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>bullet2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,825},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
		<key>enemy_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,948},{70,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{70,53}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>enemy_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,877},{70,55}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{70,55}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>enemy_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,804},{72,61}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,61}}</string>
			<key>sourceSize</key>
			<string>{74,61}</string>
		</dict>
		<key>enemy_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,0},{92,87}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{92,87}}</string>
			<key>sourceSize</key>
			<string>{108,93}</string>
		</dict>
		<key>enemy_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,0},{123,122}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>enemy_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,0},{123,122}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>enemy_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,0},{123,122}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>enemy_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,124},{124,122}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,122}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>enemy_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,0},{124,123}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,123}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>enemy_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,513},{135,172}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{135,172}}</string>
			<key>sourceSize</key>
			<string>{144,189}</string>
		</dict>
		<key>enemy_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,124},{280,223}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,223}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,124},{280,223}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,223}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,794},{280,223}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,223}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,513},{280,226}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,226}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,794},{280,226}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,226}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,513},{280,226}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,226}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,513},{280,224}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,224}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,0},{280,223}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{280,223}}</string>
			<key>sourceSize</key>
			<string>{280,236}</string>
		</dict>
		<key>enemy_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,513},{290,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,27},{290,206}}</string>
			<key>sourceSize</key>
			<string>{290,260}</string>
		</dict>
		<key>item_boom.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,148},{86,173}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,5},{86,173}}</string>
			<key>sourceSize</key>
			<string>{151,180}</string>
		</dict>
		<key>item_upgrade_bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,0},{100,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,147}}</string>
			<key>sourceSize</key>
			<string>{100,147}</string>
		</dict>
		<key>lazer.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{13,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,512}}</string>
			<key>sourceSize</key>
			<string>{13,512}</string>
		</dict>
		<key>lazer1.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,0},{11,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,512}}</string>
			<key>sourceSize</key>
			<string>{11,512}</string>
		</dict>
		<key>ship_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,281},{150,199}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{150,199}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
		<key>ship_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,804},{150,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{150,200}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
		<key>ship_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,281},{150,199}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{150,199}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
		<key>ship_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,281},{150,199}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{150,199}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
		<key>ship_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,804},{151,199}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,199}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
		<key>ship_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,281},{151,199}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,199}}</string>
			<key>sourceSize</key>
			<string>{152,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MainGame.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>MainGame.png</string>
	</dict>
</dict>
</plist>
